@charset "UTF-8";
header {
  height: auto;
}

.divHeader {
  display: flex;
  height: 80px;
  width: 100%;
}

.menuMobile {
  display: flex;
  justify-content: space-between; /* Distribuye los elementos entre sí */
  align-items: center; /* Alinea verticalmente los elementos */
  width: 100%;
}

.menuHamburger {
  cursor: pointer;
  margin-left: 15px;
}

.lineMenu1, .lineMenu2 {
  height: 2px;
  width: 25px;
  background-color: black;
  margin-bottom: 5px;
}

.letterH {
  padding: 10px;
  box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.1), -1px 2px 5px rgba(0, 0, 0, 0.1);
  display: inline-flex;
  width: 35px;
  margin-left: -70px;
}

.lineMenu3 {
  margin-bottom: 0;
  height: 2px;
  width: 25px;
  background-color: black;
}

.titleHotelMiranda h5 {
  font-family: "Archivo";
  margin-left: -80px;
}

.h5Hotel {
  font-weight: 800;
}

.h5Miranda {
  font-weight: 500;
}

.iconProfile, .iconLens {
  cursor: pointer;
  margin-right: 20px;
}

.blackBackground_ThePerfectBaseForYou {
  height: auto;
  background-color: #333333;
  width: 100%;
  color: white;
  padding-top: 80px;
  padding-left: 20px;
  padding-bottom: 80px;
}

.blackBackground_ThePerfectBaseForYou h5 {
  font-family: "Archivo";
  letter-spacing: 3px;
}

.h5Title {
  width: 70%;
}

.bigTitle_ThePerfectBaseForYou {
  margin-top: 30px;
}

.bigTitle_ThePerfectBaseForYou h1 {
  font-family: "Old Standard TT";
  font-size: 60px;
  font-weight: 10;
  line-height: 110%;
}

.btns_TakeTour_LearnMore {
  display: flex;
  flex-direction: column;
  width: 200px;
  margin-top: 30px;
}

.btns_TakeTour_LearnMore .btnTakeATour {
  background-color: #BEAD8E;
}

.btns_TakeTour_LearnMore button {
  color: white;
  border-color: #ffffff;
  background-color: #333333;
  font-family: "Archivo";
  letter-spacing: 3px;
  font-weight: 500;
  height: 60px;
  margin-bottom: 20px;
}

button:hover {
  cursor: pointer;
}

.btns_TakeTour_LearnMore button:last-child {
  margin-bottom: 0;
}

input[type=date] {
  display: flex;
  background-color: #222222;
  height: 40px;
  border-top: none;
  border-right: none;
  border-left: none;
  border-bottom: 2px solid #BEAD8E;
  border-bottom-width: 100%;
  margin-top: 10px;
  margin-bottom: 30px;
  color: #686868;
}

.selectDates {
  width: auto;
  background-color: #222222;
  width: 100%;
  padding-top: 40px;
  padding-bottom: 40px;
  padding-left: 20px;
  padding-right: 20px;
  margin-bottom: 50px;
}

.selectDates input {
  width: 100%;
  background-color: #222222;
}

.Arrival_LeDeparture_Dates label {
  font-family: "Roboto";
  font-weight: 500;
  color: white;
  margin-bottom: 10px;
}

.btnCheckAvailability button {
  color: white;
  border-color: #ffffff;
  background-color: #BEAD8E;
  font-family: "Archivo";
  letter-spacing: 3px;
  font-weight: 500;
  height: 60px;
  padding: 20px;
}

.aboutUsHome {
  padding-left: 20px;
  padding-right: 20px;
  width: 100%;
  background-color: #F9F9F9;
  padding-bottom: 200px;
}

.bigTitle_DiscoverOurUnderground h1 {
  font-family: "Old Standard TT";
  font-size: 60px;
  font-weight: 10;
  margin-top: 30px;
  line-height: 110%;
}

.h5AboutUsHomeTitle h5 {
  padding-top: 40px;
  font-family: "Archivo";
  letter-spacing: 2.8px;
  color: #777777;
}

.informationmText_BtnBookNow {
  margin-top: 15px;
  padding-right: 20px;
}

.informationmText_BtnBookNow p {
  font-family: "Archivo";
  line-height: 25px;
  font-size: 14px;
}

.informationmText_BtnBookNow button {
  color: white;
  border-color: #ffffff;
  background-color: #BEAD8E;
  font-family: "Archivo";
  letter-spacing: 3px;
  font-weight: 500;
  height: auto;
  padding: 20px;
  width: 216px;
  margin-top: 30px;
}

.strongTeamDiv {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-bottom: 50px;
}

.strongTeamDiv .imagenGris {
  height: 300px;
  width: 270px;
  background-color: #E4E4E4;
}

.divIcons_Title_SmallText_strongTeam {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 60px;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.03);
  padding-bottom: 30px;
  padding-right: 30px;
  padding-left: 30px;
}

.divIcons_Title_SmallText_strongTeam h1 {
  font-family: "Old Standard TT";
  font-weight: 400;
  margin-bottom: 20px;
}

.divIcons_Title_SmallText_strongTeam .iconStrongTeam {
  margin-bottom: 25px;
}

.divIcons_Title_SmallText_strongTeam p {
  text-align: center;
  width: 200px;
  font-family: "Roboto";
  font-size: 14px;
  line-height: 22px;
}

.divIcons_Title_SmallText_strongTeam .iconDifusedStrongTeam {
  position: absolute;
  z-index: -1;
  top: 288%;
  left: 48%;
}

.luxuryRoom_HandPickedRooms {
  margin-top: 80px;
  display: flex;
  justify-content: center;
  justify-self: center;
  flex-wrap: wrap;
  width: 270px;
}

.imagenGrisHandPickedRooms {
  height: 300px;
  width: 100%;
  background-color: #E4E4E4;
}

.blackBackgroundHandPickedRooms {
  background-color: #222222;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  color: white;
  padding-top: 50px;
  padding-bottom: 40px;
}

.blackBackgroundHandPickedRooms h1 {
  margin-top: 25px;
  font-family: "Old Standard TT";
  font-weight: 300;
  margin-bottom: 15px;
}

.blackBackgroundHandPickedRooms p {
  font-family: "Roboto";
  text-align: center;
  font-size: small;
  width: 190px;
  font-weight: 200;
  line-height: 22px;
}

.slider-container {
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
  position: relative;
  overflow: hidden;
}

.slider-wrapper {
  display: flex;
  transition: transform 0.5s ease-in-out;
}

.slide {
  min-width: 100%;
  box-sizing: border-box;
}

.slide img {
  width: 100%;
  height: auto;
  display: block;
}

.prev, .next {
  position: absolute;
  top: 50%;
  background-color: white;
  color: black;
  border: none;
  padding: 10px;
  cursor: pointer;
  font-size: 14px;
  transform: translateY(-50%);
  z-index: 10;
}

.prev:hover, .next:hover {
  background-color: #BEAD8E;
  color: white;
}

.prev {
  left: 10px;
}

.next {
  right: 10px;
}

input[type=radio] {
  display: none;
}

input#slide1:checked ~ .slider-wrapper {
  transform: translateX(0%);
}

input#slide2:checked ~ .slider-wrapper {
  transform: translateX(-100%);
}

input#slide3:checked ~ .slider-wrapper {
  transform: translateX(-200%);
}

.prev, .next {
  visibility: visible;
  width: 40px;
  height: 40px;
  text-align: center;
}

.titleRooms_titleHandPickedRooms_Slider {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 50px;
}

.titleRooms_titleHandPickedRooms_Slider h5 {
  font-family: "Archivo";
  letter-spacing: 3px;
  color: #777777;
}

.titleRooms_titleHandPickedRooms_Slider h1 {
  font-family: "Old Standard TT";
  font-size: 60px;
  text-align: center;
  font-weight: 400;
  margin-top: 30px;
}

.divIconsRoom img {
  width: auto;
  height: 18px;
  margin: 0 10px;
}

.divIconsRoom {
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  display: flex;
  justify-content: space-around;
  z-index: 111;
  position: relative;
  top: 20px;
  background-color: white;
}

.divMinimalDuplexRoom_price-Night {
  position: relative;
  bottom: 20px;
  z-index: 111;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding-top: 20px;
  background-color: white;
  width: 370px;
  justify-self: center;
}

.paraphsPriceNight {
  display: flex;
  flex-direction: row;
  align-items: baseline;
}

.divMinimalDuplexRoom_price-Night h1 {
  font-family: "Old Standard TT";
  font-weight: 400;
  font-size: 25px;
  margin-bottom: 15px;
}

.divMinimalDuplexRoom_price-Night h5 {
  font-family: "Roboto";
  font-weight: 400;
}

.divTextMinimalDuplexRoom {
  width: 60%;
  line-height: 22px;
  margin-bottom: 15px;
}

.paraphsPriceNight .p1, .paraphsPriceNight .p2 {
  font-family: "Archivo";
  color: #BEAD8E;
  font-weight: 700;
}

.paraphsPriceNight .p1 {
  font-weight: 400;
  font-size: 32px;
}

.diTitles_Video_and_Button {
  background-color: #222222;
  padding-left: 20px;
  padding-right: 20px;
  height: auto;
  padding-top: 50px;
  padding-bottom: 40px;
  margin-top: 30px;
}

.diTitles_Video_and_Button h5 {
  color: #BEAD8E;
  font-family: "Archivo";
  letter-spacing: 2.8px;
  margin-bottom: 20px;
  font-weight: 700;
}

.diTitles_Video_and_Button h1 {
  color: white;
  font-weight: 400;
  font-size: 56px;
  line-height: 60px;
  font-family: "Old Standard TT";
}

.bigTitle_VideoButton {
  width: 350px;
  margin-bottom: 20px;
}

.diTitles_Video_and_Button p {
  font-family: "Archivo";
  color: white;
  font-weight: 100;
  line-height: 24px;
  font-size: 14px;
  margin-bottom: 20px;
}

.diTitles_Video_and_Button video {
  margin-bottom: 20px;
}

.diTitles_Video_and_Button button {
  color: white;
  border-color: #ffffff;
  background-color: #BEAD8E;
  font-family: "Archivo";
  letter-spacing: 3px;
  font-weight: 500;
  height: 60px;
  padding: 20px;
  width: 200px;
}

.facilities_CoreFeatures_and_Slider {
  padding-top: 50px;
  padding-bottom: 50px;
  padding-left: 30px;
  padding-right: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.facilities_CoreFeatures_and_Slider h5 {
  font-family: "Archivo";
  letter-spacing: 2.8px;
  font-weight: 700;
  color: #777777;
  margin-bottom: 15px;
}

.facilities_CoreFeatures_and_Slider h1 {
  font-family: "Old Standard TT";
  font-weight: 400;
  font-size: 56px;
  margin-bottom: 10px;
}

.facilities_CoreFeatures_and_Slider .iconStarsHand {
  position: relative;
  right: -100px;
  top: 30px;
}

.facilities_CoreFeatures_and_Slider .iconNumbersDifused {
  position: relative;
  left: -110px;
}

.divBigTitle_Paraph_Facilities {
  width: 300px;
  display: flex;
  justify-self: left;
  flex-direction: column;
  margin-top: 35px;
}

.divBigTitle_Paraph_Facilities h1 {
  font-size: 30px;
  margin-bottom: 15px;
}

.divBigTitle_Paraph_Facilities p {
  font-family: "Archivo";
  font-weight: 400;
  line-height: 24px;
  font-size: 14px;
}

.iconSlider {
  margin-top: 40px;
}

.divFoodMenu {
  padding-left: 20px;
  padding-right: 20px;
  margin-top: 110px;
  display: flex;
  flex-direction: column;
}

.option1Image {
  height: 100px;
  width: 100px;
  background-color: #DBDBDB;
}

.divFoodMenu h5 {
  font-family: "Archivo";
  letter-spacing: 2.8px;
  font-size: 14px;
  color: #777777;
  margin-bottom: 20px;
}

.iconDonut {
  position: absolute;
  right: 0;
}

.divFoodMenu .bigTitleOurFoodsMenu {
  margin-bottom: 30px;
}

.divFoodMenu h1 {
  font-family: "Old Standard TT";
  font-size: 56px;
  font-weight: 400;
  line-height: 60px;
}

.slider_OptionsMenu h1 {
  font-size: 24px;
}

.slider_OptionsMenu h5 {
  font-family: "Roboto";
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
}

.slider_OptionsMenu {
  display: flex;
  flex-wrap: wrap;
}

.option1Menu, .option2Menu, .option3Menu {
  display: flex;
}

.Title_Text_FoodMenu {
  display: flex;
  flex-direction: column;
  margin-left: 20px;
  width: 200px;
}

.Title_Text_FoodMenu h1, .Title_Text_FoodMenu p {
  position: relative;
  bottom: 15px;
}

.btnsSliderFoodMenu {
  display: flex;
  justify-content: flex-end;
  margin-top: 10px;
  text-align: center;
  width: 100%;
  font-weight: 200;
  font-size: 12px;
}

.prevFoodMenuSlider {
  margin-right: 5px;
  background-color: #F8F8F8;
  color: black;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 200;
}

.nextFoodMenuSlider {
  margin-left: 5px;
  background-color: #F8F8F8;
  color: black;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 200;
}

.prevFoodMenuSlider:hover, .nextFoodMenuSlider:hover {
  background-color: #BEAD8E;
  color: white;
}

html, * {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  min-width: 320px;
}

/*# sourceMappingURL=styles.css.map */
