.facilities_CoreFeatures_and_Slider{
    padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 30px;
    padding-right: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.facilities_CoreFeatures_and_Slider h5{
    font-family: 'Archivo';
    letter-spacing: 2.8px;
    font-weight: 700;
    color: #777777;
    margin-bottom: 15px;
}

.facilities_CoreFeatures_and_Slider h1{
    font-family: 'Old Standard TT';
    font-weight: 400;
    font-size: 56px;
    margin-bottom: 10px;
}

.facilities_CoreFeatures_and_Slider .iconStarsHand{
    position: relative;
    right: -100px;
    top: 30px;
}

.facilities_CoreFeatures_and_Slider .iconNumbersDifused{
    position: relative;
    left: -110px;
}

.divBigTitle_Paraph_Facilities{
    width: 300px;
    display: flex;
    justify-self: left;
    flex-direction: column;
    margin-top: 35px;
}

.divBigTitle_Paraph_Facilities h1{
    font-size: 30px;
    margin-bottom: 15px;
}

.divBigTitle_Paraph_Facilities p{
    font-family: 'Archivo';
    font-weight: 400;
    line-height: 24px;
    font-size: 14px;
}

.iconSlider{
    margin-top: 40px;
}