.strongTeamDiv{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 50px;
}

.strongTeamDiv .imagenGris{
    height: 300px;
    width: 270px;
    background-color: #E4E4E4;
    
}

.divIcons_Title_SmallText_strongTeam{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 60px;
}

.divIcons_Title_SmallText_strongTeam h1{
    font-family: 'Old Standard TT';
    font-weight: 400;
    margin-bottom: 20px;
}

.divIcons_Title_SmallText_strongTeam .iconStrongTeam{
    margin-bottom: 25px;
}

.divIcons_Title_SmallText_strongTeam p{
    text-align: center;
    width: 200px;
    font-family: 'Roboto';
    font-size: 14px;
    line-height: 22px;
}

.divIcons_Title_SmallText_strongTeam .iconDifusedStrongTeam{
    position: absolute;
    z-index: -1;
    top: 288%;
    left: 48%;
}