@import 'header.scss' ;
@import 'blackBackground_ThePerfectBaseForYou.scss';
@import 'aboutUsHome.scss';
@import 'strongDivTeam.scss';
@import 'luxuryRoom_HandPickedRooms.scss';

html, * { 
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


body { 
    min-width: 320px;
}

