@import 'header.scss' ;
@import 'blackBackground_ThePerfectBaseForYou.scss';
@import 'aboutUsHome.scss';
@import 'strongDivTeam.scss';
@import 'luxuryRoom_HandPickedRooms.scss';
@import 'slider.scss';
@import 'titleRooms_titleHandPickedRooms_Slider.scss';
@import 'divMinimalDuplexRoom_price-Night.scss';
@import 'diTitles_Video_and_Button.scss';
@import 'facilities_CoreFeatures_and_Slider.scss';
@import 'divFoodMenu.scss';

html, * { 
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


body { 
    min-width: 320px;
}

